configuration {
    modi: "drun,run,window";
    icon-theme: "breeze-dark";
    show-icons: true;
    terminal: "ghostty";
    drun-display-format: "{name}";
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "Applications";
    display-run: "Commands";
    display-window: "Windows";
    sidebar-mode: false;
    matching: "fuzzy";
    sort: true;
}

@theme "~/.config/rofi/gruvbox-launcher.rasi"
